<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị danh sách sản phẩm, kèm ảnh</p>
        <p>Các man có thể chọn danh sách mua hàng tại đây</p>
    </div>
    <!-- Đoạn này có 1 ô search box bên trái và 1 ô combobox bên phải -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select name="" id="" class="form-control product-category">
            <option selected disabled class="op-category">Danh mục sản phẩm</option>
            <option class="op-category">Đồ điện tử</option>
            <option class="op-category">Đồ gia dụng</option>
            <option class="op-category">Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 product-columns">
            <div class="product-item">
                <img src="https://cdn.bongdaplus.vn/Assets/Media/2020/07/08/66/yas.jpg" alt="Product-image"
                    class="product-image">
                <h3 class="product-name">Yasuo Anh Hùng Lãng Kiếm</h3>
                <p class="product-description">Đây là skin thứ 8 của Yasuo từ trước đến nay.</p>
                <p class="product-warranty">Sale: 10%</p>
                <p class="product-price">Giá: <del>100$</del> 90$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 product-columns">
            <div class="product-item">
                <img src="https://cdn.bongdaplus.vn/Assets/Media/2020/07/08/66/yas.jpg" alt="Product-image"
                    class="product-image">
                <h3 class="product-name">Yasuo Anh Hùng Lãng Kiếm</h3>
                <p class="product-description">Đây là skin thứ 8 của Yasuo từ trước đến nay.</p>
                <p class="product-warranty">Sale: 10%</p>
                <p class="product-price">Giá: <del>100$</del> 90$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 product-columns">
            <div class="product-item">
                <img src="https://cdn.bongdaplus.vn/Assets/Media/2020/07/08/66/yas.jpg" alt="Product-image"
                    class="product-image">
                <h3 class="product-name">Yasuo Anh Hùng Lãng Kiếm</h3>
                <p class="product-description">Đây là skin thứ 8 của Yasuo từ trước đến nay.</p>
                <p class="product-warranty">Sale: 10%</p>
                <p class="product-price">Giá: <del>100$</del> 90$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 product-columns">
            <div class="product-item">
                <img src="https://cdn.bongdaplus.vn/Assets/Media/2020/07/08/66/yas.jpg" alt="Product-image"
                    class="product-image">
                <h3 class="product-name">Yasuo Anh Hùng Lãng Kiếm</h3>
                <p class="product-description">Đây là skin thứ 8 của Yasuo từ trước đến nay.</p>
                <p class="product-warranty">Sale: 10%</p>
                <p class="product-price">Giá: <del>100$</del> 90$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 product-columns">
            <div class="product-item">
                <img src="https://cdn.bongdaplus.vn/Assets/Media/2020/07/08/66/yas.jpg" alt="Product-image"
                    class="product-image">
                <h3 class="product-name">Yasuo Anh Hùng Lãng Kiếm</h3>
                <p class="product-description">Đây là skin thứ 8 của Yasuo từ trước đến nay.</p>
                <p class="product-warranty">Sale: 10%</p>
                <p class="product-price">Giá: <del>100$</del> 90$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>